body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.discrption {
  width: 100%;
  height: 90%;
  display: flex;
  padding: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.img {
  min-width: 20%;
  aspect-ratio: 1;
}
.img img {
  width: 100%;
  height: fit-content;
}
.details {
  width: 35%;
}
.details p {
  font-size: 2em;
  font-weight: 100;
}
.sale {
  font-size: small;
  color: grey;
  padding: 10px;
}
.cart-btn {
  padding: 1%;
  height: auto;
  border: #dadada 0.5px solid;
  width: 20%;
  font-size: small;
  border-radius: 10px;
}
.loc {
  padding-top: 20px;
  color: #007185;
  font-size: small;
}
.loc i {
  color: #000;
}
.quantity select {
  width: 100%;
  height: 30px;
  background-color: #dadada80;
  border-radius: 7px;
}
.stock {
  padding-top: 20px;
  font-size: large;
  color: #008564;
  padding-bottom: 20px;
}
button {
  margin-top: 10px;
  padding: 10px;
  background-color: #fad42d;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 50px;
  margin-bottom: 10px;
  cursor: pointer;
}
.others-section {
  padding: 0px 20px;
}
.others {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: 0px;
}
.other-cate {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 160px;
  height: 210px;
  padding: 4px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(0, 0, 0, 0.1),
    4px -4px 10px rgba(0, 0, 0, 0.1), -4px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
}
.pro-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.others img {
  width: 150px;
  aspect-ratio: 1;
}
@media (max-width: 800px) {
  main {
    height: auto;
    width: 100%;
    display: block;
  }
  .img {
    margin-top: 1%;
  }
  .details,
  .cart-btn,
  .discrption {
    width: 95%;
  }
  .details p {
    font-size: 1.3em;
  }
  .others {
    gap: 10px;
    padding: 10px;
  }
  .other-cate {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(0, 0, 0, 0.1),
      2px -2px 5px rgba(0, 0, 0, 0.1), -2px 2px 5px rgba(0, 0, 0, 0.1);
  }
}
