*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
body{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
/*Style of NavBar*/
nav{
    width: 100%;
    background-color: #0f1111;
    height: 70px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0;
    margin: 0;
}
.menuBar{
    display: none;
}
.navLogo{
    display: flex;
    justify-content: center;
}
.navLogo img{
    height: 50px;
    width: 100px;
}
.border:hover{
    border: 1.5px solid white;
    border-radius: 1.5px;
    cursor: pointer;
}
.navLocation{
    width: 93px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:center;
}
.nav-line-1{
    font-size: 12px;
    color: #cccccc;
}
.nav-line-2{
    font-size: 14px;
}
.searchBar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    height: 40px;
    background-color: #f3a847;
    border-radius: 4px;
}
.searchSelector{
    width:auto;
    height: 100%;
    background-color: #e6e6e6;
    color: #0f1111;
    border-right:1.5px solid #cccccc;  
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius:2px ;  
    border-bottom-left-radius: 2px;
    cursor: pointer;
    padding: 4px;
}
#searchDropDownBox{
    width: fit-content;
    align-items: center;
    outline: none;
    border: none;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}
.search{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: white;
}
.search input{
    padding-left: 5px;
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
}
.search input::placeholder{
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    color: #979292;
}
.submit{
    height: 100%;
    width: 10%;
    font-size: larger;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.langSelector{
    width: 70px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flag{
    background-image: url('../Flags/Amarican-Flag.webp');
    background-position: center;
    background-size: cover;
    height: 16px;
    width: 20px;
}
#Language{
    outline: none;
    border: none;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    color: #e6e6e6;
}
#Language option{
    color: #000;
}
.signin, .orders{
    padding: 5px;
}

.cartList{
    text-align: center;
    color: #f7b335;
    font-size: 14px;
}
.ri-shopping-cart-line{
    font-size: 40px;
}
.nav-left{
    display: none;
}
.pannel{
    width: 100%;
    height: 40px;
    background-color: #222F3d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
left-pannel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;    
}
right-pannel{
    padding-right: 20px;
}
.locationDiv{
    display: none;
}
aside{
    display: none;
}
/*styles of main section*/
main{
    padding-top: 50px;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.products{
    height: 550px;
    width: 20em;
    border: #cccccc solid 1.5px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    flex-direction: column;
    cursor: pointer;
    margin: 10px;
}
.productImg{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    height: 20em;
    width: 20em;
}
.productImg img{
    height: auto;
    max-height: 15em;
    width: auto;
    max-width: 15em;
}
.details{
    padding: 10px;
    line-height: 1.5em;
}
.pastSales{
    color: #858383;
    font-size: small;
}
.pastSales b{
    color: #000;
}
button{
    margin-top: 30px;
    padding: 10px;
    background-color: #f7ca00;
    width: 90%;
    outline: none;
    border: none;
    border-radius: 50px;
    margin-bottom: 20px;
    cursor: pointer;
}

.horizontalDiv{
    height: 320px;
    width: 90%;
    border: #cccccc solid 1.5px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    flex-direction: row;
    margin: 10px;
}
.horizontalDiv .productImg {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height:100% ; 
    width: 40%;
    border: 1px solid #dadada; 
    overflow: hidden; 
}
.horizontalDiv .productImg img {
    height:auto;
    max-width: 200px;
    max-height: 200px;
    width:auto;
} 
.horizontalDiv button {
    width: 30%;
}
.horizontalDiv .details{
    width: 65%;
}


@media (max-width:800px) {
    /*Nav Styling for Mobile*/
    nav{
        height: 120px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #232f3e;
    } 
    .menuBar {
        display: block;
    }
    .nav-right{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .searchBar{
        width: 90%;
        order: 5;
        margin-left: 20px;
    }
    .searchBar .submit{
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
    }
    
    .navLocation, .langSelector,.orders, .signin, .cart{
        display: none;
    }
    .nav-left{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding-right: 10px;
    }
    .signInUser i{
        font-size: 35px;
    }
    .searchBar .search{
        border-radius: 4px;
        padding-left: 5px;
    }
    .searchBar .searchSelector{
        display: none;
    }
    .searchBar .submit{
        margin-left: 10px;
    }
    left-pannel, right-pannel{
        display: none;
    }
    .pannel{
        background-color: #37475a;
    }
    .locationDiv{
        display: block;
    }
    .forMobile{
        background-image: url('images/mobile-game.jpg');
        background-size: cover;
        display: block;
        height: 50%;
    }
    aside {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start; /* Align to the start */
        gap: 10px;
        margin: 0;
        color: #fff;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        padding-bottom: 4px;
        scrollbar-width: none;
        background-color: #232f3e;
    }  
    aside p {
        padding-left: 10px;
        padding-right: 10px;
        margin: 0; 
    } 
    main{
        padding-top: 50px;
        height: auto;
        width: 100%;
        display: block;        
    }
    .products, .horizontalDiv{
        height: 350px;
        width: 98%;
        border: #cccccc solid 1.5px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4px;
        flex-direction: row;
        margin: 10px;
    }
    .details{
        width: 70%;
        line-height: 2em;
        font-size: 14px;
    }
    .productImg {
        display: flex; 
        align-items: center; 
        justify-content: center; 
        height:100% ; 
        width: 40%;
        border: 1px solid #dadada; 
        overflow: hidden; 
    }
    .productImg img {
        height:auto;
        max-height: 200px;
        width: auto;
        max-width:120px;
    }    
    .horizontalDiv button{
        width: 100%;
    }
}